@use "../abstracts";
@use "../base";

.main--detail {
    @include abstracts.breakpoint-up(large) {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: abstracts.toRem(100);
    }
}

.painting-detail {
    position: relative;
    z-index: 35;

    @include abstracts.breakpoint-up(large) {
        width: max(53.5rem, 60%);
        z-index: 10;
    }

    &__wrapper {
        position: relative;
    }

    &__image-wrapper {
        position: relative;
    }

    &__image {
        max-width: 100%;
        z-index: 10;

        @include abstracts.breakpoint-up(medium) {
            max-width: abstracts.toRem(475);
            height: auto;
        }
    }

    &__view-image {
        position: absolute;
        top: 1rem;
        left: 1rem;

        display: flex;
        align-items: center;
        padding: 0.8rem;
        cursor: pointer;

        text-transform: uppercase;
        letter-spacing: 2.14286px;
        font-size: abstracts.toRem(10);
        font-family: "Libre Baskerville";

        background-color: rgba(0, 0, 0, 0.75);
        color: base.$light;
        border: none;

        &:hover {
            transition: 250ms all ease-in-out;
            background-color: rgba(255, 255, 255, 0.25);
        }

        > span {
            padding-left: 1rem;
        }

        @include abstracts.breakpoint-up(medium) {
            top: unset;
            bottom: 1rem;
        }
    }

    &__headline-wrapper {
        position: absolute;
        bottom: 0;
        transform: translateY(60%);
        width: 90%;

        @include abstracts.breakpoint-up(medium) {
            bottom: unset;
            top: 0;
            right: 0;
            transform: unset;
            max-width: abstracts.toRem(445);
        }

        @include abstracts.breakpoint-up(large) {
            height: 100%;
        }
    }

    &__name-author {
        padding: abstracts.toRem(24);
        background-color: white;
        display: block;
        z-index: 35;

        @include abstracts.breakpoint-up(medium) {
            box-sizing: border-box;
            padding: 0.5rem 0.5rem 4rem 4rem;
        }

        .subhead--1 {
            color: base.$neutral-500;
        }
    }

    &__name {
        position: relative;
        z-index: 35;
    }

    &__artist {
        position: relative;
        margin-left: 1rem;
        width: abstracts.toRem(64);
        z-index: 35;

        @include abstracts.breakpoint-up(medium) {
            width: abstracts.toRem(128);
            float: right;
            margin-right: 2rem;
        }

        @include abstracts.breakpoint-up(large) {
            margin-left: abstracts.toRem(100);
            margin-right: 0;
            position: absolute;
            bottom: 0px;
            transform: translateY(50%);
        }
    }
}

.description {
    padding-top: abstracts.toRem(150);
    position: relative;

    @include abstracts.breakpoint-up(medium) {
        padding-top: 0;
    }

    @include abstracts.breakpoint-up(large) {
        width: abstracts.toRem(476);
    }

    &__year {
        position: absolute;
        top: abstracts.toRem(90);
        right: 0;
        z-index: 30;

        @include abstracts.breakpoint-up(medium) {
            top: abstracts.toRem(64);
            left: 0;
            right: unset;
        }

        @include abstracts.breakpoint-up(large) {
            left: unset;
            right: 0;
            top: 0;
        }
    }

    &__text {
        padding-bottom: abstracts.toRem(68);
        position: relative;
        z-index: 40;

        @include abstracts.breakpoint-up(medium) {
            max-width: abstracts.toRem(457);
            padding-top: abstracts.toRem(130);
            margin: 0 auto;
        }

        @include abstracts.breakpoint-up(large) {
            max-width: abstracts.toRem(350);
            margin-left: 0;
        }
    }
}
