@use '../base';
@use '../abstracts';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid base.$neutral-200;

    &__logo{
        display: block;
        width: abstracts.toRem(113);
        @include abstracts.breakpoint-up(large){
            width: abstracts.toRem(170);
        }
    }
}