@use "../abstracts";

.lightbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__image-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    &__close {
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: abstracts.toRem(14);
        font-family: 'Libre Baskerville';
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: abstracts.toRem(33);

        @include abstracts.breakpoint-up(medium){
            padding-bottom: abstracts.toRem(41);
        }

        &:hover{
            color: silver;
        }
    }

    &__image{
        max-width: 100%;
    }
}

.hidden{
    visibility: hidden;
}
