@use "../base";

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--arrow {
        svg g {
            transition: 150ms all ease-in-out;
        }

        svg:hover g {
            stroke: base.$neutral-500;
        }
    }

    &--arrow__disabled {
        cursor: default;
        svg g {
            stroke: base.$neutral-300;
        }
    }
}
