@use "../abstracts";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

// is used with the lightbox
.no-scroll {
    overflow: hidden;
}

// screen reader only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    color: transparent;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.container {
    @include abstracts.breakpoint-up(large) {
        margin: 0 auto;
        max-width: abstracts.toRem(1440);
    }

    &--inline {
        padding-inline: 1.5rem;

        @include abstracts.breakpoint-up(medium) {
            padding-inline: 2.5rem;
        }
    }

    &--block {
        padding-block: 1.5rem;

        @include abstracts.breakpoint-up(medium) {
            padding-block: abstracts.toRem(29);
        }

        @include abstracts.breakpoint-up(large) {
            padding-block: 2.5rem;
        }
    }
}

// the border for the interactive elements selected with the tab navigation
:focus,
:focus-visible {
    border: 3px dotted blue !important;
}
