body {
  font-family: Libre Baskerville;
  font-style: normal;
}

.heading {
  font-weight: bold;
  margin-block: 0.5rem;
}
.heading--display {
  margin: 0;
  font-size: 6.25rem;
  line-height: 6.25rem;
  color: #f3f3f3;
}
@media only screen and (min-width: 40em) {
  .heading--display {
    font-size: 12.5rem;
    line-height: 9.375rem;
  }
}
.heading--1 {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #000;
}
@media only screen and (min-width: 40em) {
  .heading--1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.heading--2 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #000;
  font-weight: normal;
}
.heading--3 {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #000;
}
@media only screen and (min-width: 40em) {
  .heading--3 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
.heading--light {
  color: #fff;
}

.subhead {
  margin-block: 0rem;
  color: #000;
  font-weight: normal;
}
.subhead--1 {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}
.subhead--2 {
  font-size: 0.625rem;
  line-height: 0.75rem;
}
@media only screen and (min-width: 40em) {
  .subhead--2 {
    font-size: 0.8125rem;
    line-height: 1rem;
  }
}

.link {
  color: #7d7d7d;
  text-transform: uppercase;
  transition: 150ms all ease-in-out;
}
.link:hover {
  color: #000;
}
.link--1 {
  font-weight: bold;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  letter-spacing: 2.57143px;
  text-decoration: none;
}
@media only screen and (min-width: 40em) {
  .link--1 {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}
.link--2 {
  font-weight: bold;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  letter-spacing: 1.92857px;
  text-decoration-line: underline;
}

.paragraph {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #7d7d7d;
  margin-bottom: 2.5rem;
}

.white, .white--opacity {
  color: #fff;
}
.white--opacity {
  opacity: 0.75;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  color: transparent;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

@media only screen and (min-width: 67.5em) {
  .container {
    margin: 0 auto;
    max-width: 90rem;
  }
}
.container--inline {
  padding-inline: 1.5rem;
}
@media only screen and (min-width: 40em) {
  .container--inline {
    padding-inline: 2.5rem;
  }
}
.container--block {
  padding-block: 1.5rem;
}
@media only screen and (min-width: 40em) {
  .container--block {
    padding-block: 1.8125rem;
  }
}
@media only screen and (min-width: 67.5em) {
  .container--block {
    padding-block: 2.5rem;
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button--arrow svg g {
  transition: 150ms all ease-in-out;
}
.button--arrow svg:hover g {
  stroke: #7d7d7d;
}
.button--arrow__disabled {
  cursor: default;
}
.button--arrow__disabled svg g {
  stroke: rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.header__logo {
  display: block;
  width: 7.0625rem;
}
@media only screen and (min-width: 67.5em) {
  .header__logo {
    width: 10.625rem;
  }
}

.grid-item {
  float: left;
  max-width: 20.4375rem;
  height: auto;
  margin-bottom: 2.5rem;
  position: relative;
}
@media only screen and (min-width: 40em) {
  .grid-item {
    max-width: 20.25rem;
  }
}
@media only screen and (min-width: 67.5em) {
  .grid-item {
    max-width: 19.375rem;
  }
}
.grid-item__link {
  transition: 150ms all ease-in-out;
}
.grid-item__link:hover {
  opacity: 0.75;
}
.grid-item__text {
  position: absolute;
  padding: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%);
  z-index: 10;
}
.grid-item__image {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 5;
}

.clear {
  clear: both;
}

@media only screen and (min-width: 67.5em) {
  .main--detail {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 6.25rem;
  }
}

.painting-detail {
  position: relative;
}
@media only screen and (min-width: 67.5em) {
  .painting-detail {
    width: max(856px, 60%);
  }
}
.painting-detail__image {
  max-width: 100%;
  z-index: 10;
}
@media only screen and (min-width: 40em) {
  .painting-detail__image {
    max-width: 29.6875rem;
    height: auto;
  }
}
.painting-detail__wrapper {
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  width: 90%;
}
@media only screen and (min-width: 40em) {
  .painting-detail__wrapper {
    bottom: unset;
    top: 0;
    right: 0;
    transform: unset;
    max-width: 27.8125rem;
  }
}
.painting-detail__name-author {
  padding: 1.5rem;
  background-color: beige;
  display: block;
  z-index: 20;
}
@media only screen and (min-width: 40em) {
  .painting-detail__name-author {
    box-sizing: border-box;
    padding: 0.5rem 4rem 4rem;
  }
}
.painting-detail__name-author .subhead--1 {
  color: #7d7d7d;
}
.painting-detail__name {
  position: relative;
  z-index: 35;
}
.painting-detail__artist {
  margin-left: 1rem;
  width: 4rem;
  z-index: 20;
}
@media only screen and (min-width: 40em) {
  .painting-detail__artist {
    width: 8rem;
    float: right;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 67.5em) {
  .painting-detail__artist {
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    bottom: 0px;
    transform: translate(94px, 24.125rem);
  }
}
.painting-detail__view-image {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 1rem;
}

.description {
  padding-top: 9.375rem;
  position: relative;
}
@media only screen and (min-width: 40em) {
  .description {
    padding-top: 0;
  }
}
@media only screen and (min-width: 67.5em) {
  .description {
    width: 29.75rem;
  }
}
.description__year {
  position: absolute;
  top: 5.625rem;
  right: 0;
  z-index: 30;
}
@media only screen and (min-width: 40em) {
  .description__year {
    top: 4rem;
    left: 0;
    right: unset;
  }
}
@media only screen and (min-width: 67.5em) {
  .description__year {
    left: unset;
    right: 0;
    top: 0;
  }
}
.description__text {
  padding-bottom: 4.25rem;
  position: relative;
  z-index: 40;
}
@media only screen and (min-width: 40em) {
  .description__text {
    max-width: 28.5625rem;
    padding-top: 8.125rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 67.5em) {
  .description__text {
    max-width: 21.875rem;
    margin-left: 0;
  }
}

.footer {
  background-color: white;
  border-top: 1px solid #e5e5e5;
  padding-block: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__buttons {
  display: flex;
  gap: 40px;
}
.footer .subhead {
  opacity: 0.75;
}

/*# sourceMappingURL=style.css.map */
